flow.json
[
    {
        "id": "10b18821.e89b58",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bae23e14.6da62",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8ecc7cdc.182ef8",
        "type": "mqtt in",
        "z": "10b18821.e89b58",
        "name": "Rasp1_tempe",
        "topic": "aprendiendonodered21/enrique/raspberrypi1/enrique/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "bae23e14.6da62",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "ff1838d9.3e09c",
                "24652845.b3c36"
            ]
        ]
    },
    {
        "id": "ff1838d9.3e09c",
        "type": "debug",
        "z": "10b18821.e89b58",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "24652845.b3c36",
        "type": "switch",
        "z": "10b18821.e89b58",
        "name": "IF_57ºC",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "57",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "57",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "8938b67e.ae588"
            ],
            [
                "b66ee4a3.cd746"
            ]
        ]
    },
    {
        "id": "8938b67e.ae588",
        "type": "change",
        "z": "10b18821.e89b58",
        "name": "CALIENTE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "raspberry1_CALIENTE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "30c2547e.7e0c94"
            ]
        ]
    },
    {
        "id": "b66ee4a3.cd746",
        "type": "change",
        "z": "10b18821.e89b58",
        "name": "normal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "raspberry1_normal",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "30c2547e.7e0c94"
            ]
        ]
    },
    {
        "id": "30c2547e.7e0c94",
        "type": "rbe",
        "z": "10b18821.e89b58",
        "name": "filtro_soloCambios",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "cb0c843f.6d4bf"
            ]
        ]
    },
    {
        "id": "cb0c843f.6d4bf",
        "type": "debug",
        "z": "10b18821.e89b58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "2a73d56d.ebf6d2",
        "type": "comment",
        "z": "10b18821.e89b58",
        "name": "NOTA",
        "info": "Muestro junto al primer nodo la temperatura de la raspberry1 durante todo el tiempo.\nMuestro en el debug solamente los momentos cuando la raspberry1 ha pasado de 57ºC y despues, cuando vuelve a su temperatura normal.",
        "x": 470,
        "y": 80,
        "wires": []
    }
]